<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bringy_circle_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/taisma_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taima"
        tools:targetApi="35">


        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Customer -->
        <activity
            android:name=".CustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Route -->
        <activity
            android:name=".RouteActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Transaction -->
        <activity
            android:name=".TransactionActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Summary -->
        <activity
            android:name=".com.project.taima.SummaryActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Tools -->
        <activity
            android:name=".ToolsActivity"
            android:exported="true"
            android:theme="@style/Theme.Taima"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>